# dépendances
node_modules/
**/node_modules/

# builds
backend/dist/
frontend/dist/
frontend/.angular/

# env
.env
*.local

# logs
*.log
npm-debug.log*

# IDE / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
